{% extends "govlink/base.html" %}
{% load static %}
{% block content %}
<div class="page-title parallax parallax1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">                    
                <div class="page-title-heading">
                    <h1 class="title">ABOUT US</h1>
                   
                </div><!-- /.page-title-captions --> 
                
            </div><!-- /.col-md-12 -->  
        </div><!-- /.row -->  
    </div><!-- /.container -->                      
</div><!-- /.page-title --> 
 <!-- Blog single -->
 <section class="main-content blog-single">        
    <div class="post-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <article class="entry">
                         <div class="main-post">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <h2 class="title-post"><a href="#">ABOUT US</a></h2>
                                       
                                    <div class="entry-post">
                                        <h3><span style="color:#e74c3c">GOVLINK SOLUTIONS INC</span> is a technology and management company based in the USA, with a solid capital base, sound management team as well as a dedicated team of professionals that are&nbsp;committed to building long-lasting business relationships.</h3>

                                        <h1><span style="color:#3498db"><strong>Our Mission</strong></span></h1>
                                        
                                        <h3><strong>Create client satisfaction</strong><br />
                                        By being focused on our clients, as set out in our sector strategies</h3>
                                        
                                        <h3><strong>Drive professional excellence</strong><br />
                                        By being effective, at our best, every time for every client, and for ourselves</h3>
                                        
                                        <h3><strong>Achieve commercial success</strong><br />
                                        By being competitive, leveraging the best technology that aligns with our client&#39;s needs</h3>
                                        
                                        <h3><strong>Provide employee fulfillment</strong><br />
                                        By treating everyone with dignity and respect recognizing that our employees are one of our key assets</h3>
                                        
                                        <h1><strong><span style="color:#3498db">Our Core Values</span></strong></h1>
                                        
                                        <h3><span style="color:#e67e22"><strong>Progress</strong></span></h3>
                                        
                                        <ul>
                                            <li>
                                            <h3>We drive change and use it to create opportunity</h3>
                                            </li>
                                            <li>
                                            <h3>We aim to make a lasting positive difference for present and future generations</h3>
                                            </li>
                                            <li>
                                            <h3>We actively develop ourselves as individuals and professionals</h3>
                                            </li>
                                        </ul>
                                        
                                        <h3><span style="color:#e67e22"><strong>Respect</strong></span></h3>
                                        
                                        <ul>
                                            <li>
                                            <h3>We always care about the human and environmental impact of what we do</h3>
                                            </li>
                                            <li>
                                            <h3>We value all peoples and cultures and promote equality, diversity, and inclusion</h3>
                                            </li>
                                            <li>
                                            <h3>We treat everyone with respect</h3>
                                            </li>
                                        </ul>
                                        
                                        <h3><span style="color:#e67e22"><strong>Integrity</strong></span></h3>
                                        
                                        <ul>
                                            <li>
                                            <h3>We deliver on our promises</h3>
                                            </li>
                                            <li>
                                            <h3>We behave ethically and do not tolerate bribery or corruption</h3>
                                            </li>
                                            <li>
                                            <h3>We uphold safety, security, and wellbeing as a fundamental right of all</h3>
                                            </li>
                                        </ul>
                                        
                                        <h3><span style="color:#e67e22"><strong>Excellence</strong></span></h3>
                                        
                                        <ul>
                                            <li>
                                            <h3>We act on our belief that there is always a better way</h3>
                                            </li>
                                            <li>
                                            <h3>We use our restless curiosity and leading-edge skills to challenge and innovate</h3>
                                            </li>
                                            <li>
                                            <h3>We connect our people and experience to turn opportunity into the best outcomes for all</h3>
                                            </li>
                                        </ul>
                                        
                                        <h3><span style="color:#e67e22"><strong>Drive</strong></span></h3>
                                        
                                        <ul>
                                            <li>
                                            <h3>We constantly stretch our thinking to find extra value for our clients and their end-users</h3>
                                            </li>
                                            <li>
                                            <h3>We work as one Mott MacDonald, connecting all our skills to create the best outcomes</h3>
                                            </li>
                                            <li>
                                            <h3>We stay focused and persevere to achieve our goals</h3>
                                            </li>
                                        </ul>
                                        
                                        <h3>GOVLINKS&rsquo;s universe of creative thinkers is governed by our core values and centered around our clients &ndash; you. We&rsquo;re joined-up across sectors and geographies, giving you access to exceptional breadth and depth of expertise and experience. Over 80% of the work we do is for long-term or repeat clients, which we think underlines the great service we offer.</h3>
                                        
                                        <h3>Working with us you get the advantages of size and stability that come from a well-run company, quick access to over 100 professionals delivering projects in Africa, Europe, the Middle East, North and South America, and Asia. You also tap into the kind of openness, friendliness, and personal commitment you might associate with a much smaller company.</h3>
                                                                            </div><!-- /.entry-post -->
                                                                  </div><!-- /.col-md-8 -->
                            </div><!-- /.row -->
                        </div><!-- /.main-post -->
                    </article><!-- /.entry -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->

    
    </div><!-- /.post-wrap -->            
</section>

{%endblock%}